*,*::after,*::before{
    box-sizing: border-box;
}

*{
    margin: 0;
    font-size: calc(1rem,.75rem + 1.5vw, 2rem);
    line-height: 1.5;

    font-family: Didot, 'Bodoni MT', 'Noto Serif Display', 'URW Palladio L', P052, Sylfaen, serif;
font-weight: normal;
 }  
 body{
    background-color: #eff7f2;
 }
   
h1{
    font-size: 4rem;
    padding-top: 1rem;
    text-align: center;
    font-family: "Jersey 10", serif;
    font-weight: 400;

}
h2{
    text-align: center;
    font-size: 2rem;
    font-family: "Bebas Neue", serif;
    letter-spacing: .1rem;
}

img{
    max-width: 100%;

}
/* p{
    text-align: center;
    font-size: 2rem;
    margin-bottom: 5rem;
} */

.game-control,.score-board, .options-container{
    display: flex;
    justify-content: center;
    gap: 2rem;
    
}
.display-board, .options{
    width: 10rem;
    border: 2px solid black;
    border-radius: 1.5rem;
    overflow: hidden;
}


.score-board-container{
    border: 2px solid green;
    background-color: rgba(85, 60, 77, 0.075);
    padding: .7rem;
    max-width: 80%;
    margin: 3rem auto;
    
}


.score-alert, .score-alert *{
    text-align: center;
    font-size: 1rem;
    font-family: "Permanent Marker", serif;
    font-weight: 200;
    color: rgb(31, 37, 43);
}


.display-board:nth-child(2){
display: flex;
flex-flow: column wrap;
justify-content: center;
align-items: center;

border: none;
}


.vs-text{
font-size: 2rem;
font-weight: 900;
font-family: "Press Start 2P", serif;
}

.message{
    font-size: 1.2rem;
    
}

.game-control{
    padding: 2rem;
}

button{
    background-color: rgb(37, 124, 26);
    border: none;
    font-size: 1.2rem;
    padding: .3rem 1rem;
    border-radius: 0.3rem ;
    color: azure;
    font-family: "Lexend", serif;
    font-weight: 500;

}